
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-outline-success" onclick="abrirModal(null)">Crear Nuevo Usuario</button>
            </div>
        </div>

        <hr />
        <table id="tabla" class="table table-dark table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>
                </tr>


            </thead>
            <tbody>
            </tbody>
        </table>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Nuevo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">

                <input id="txtId" type="hidden" value="0" />
                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="txtnombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtnombres">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtapellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellidos">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtcorreo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtcorreo" placeholder="Ingrese su Correo">
                    </div>


                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboactivo" aria-label="Default select example">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>

                        </select>
                    </div>
                    


                </div>
                <div class="row mt-3">
                    <div class="col-12">

                        <div id="mensaje_error" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()" >Guardar</button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        var tabladata;
        var filaSeleccionada;
        /*---------------------------------contiene toda la imformacion de la tabla ----------------------*/
        jQuery.ajax({
            url:'@Url.Action("ListarUsuarios", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "aplication/json; charset=utf-8",
            success: function (data) {

                console.log(data)
            }
        })

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: "GET",
                dataType: "json"
            },
            "columns": [

                { "data": "Nombres" },
                { "data": "Apellidos" },
                { "data": "Correo" },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-primary">Activo</span>'
                        } else {
                            return '<span class="badge bg-danger">Inactivo</span>'
                        }

                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-outline-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-outline-danger btn-sm ms-3 btn-eliminar "><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }


            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
            }
            /*----------------------------------------------------------------------------------------*/
        });
        function abrirModal(json) {

            /*------------------ traer los usuarios para editar--------------------------------------*/

            $("#txtId").val(0);
            $("#txtnombres").val("");
            $("#txtapellidos").val("");
            $("#txtcorreo").val("");
            $("#cboactivo").val("");



            $("#mensaje_error").hide();




            if (json != null) {

                $("#txtId").val(json.IdUsuario);
                $("#txtnombres").val(json.Nombres);
                $("#txtapellidos").val(json.Apellidos);
                $("#txtcorreo").val(json.Correo);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);

            }

            /*------------------ -----------------------------------------------------------------*/

            $("#FormModal").modal("show");



        }
        /*----------------------------------------------EVENTO BOTON EDITAR -----------------------------------------*/
        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })


        /*----------------------------------------------EVENTO BOTON ELIMINAR -----------------------------------------*/
        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var usuarioSeleccionado= $(this).closest("tr");

            var data = tabladata.row(usuarioSeleccionado).data();

            swal({
                title: "Estas seguro?",
                text: "Deseas Eliminar el Usuario?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si, Deseo Eliminar",
                cancelButtonText: "No!",
                closeOnConfirm: true
            },
                function () {

                    jQuery.ajax({
                    url: '@Url.Action("EliminarUsuario", "Home")',
                        type: "POST",
                        data: JSON.stringify({ id: data.IdUsuario }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            debugger;
                            if (data.resultado) {
                                tabladata.row(usuarioSeleccionado).remove().draw();
                            } else {
                                swal("No se pudo eliminar ",data.mensaje,"error")
                            }
                        },
                        error: function (error) {
                            console.log(error)
                        },
    
                    });
                
            });





            console.log(data);

        })

        /*------------------------------------------------------GUARDAR -----------------------------------------*/

        function Guardar() {

            var Usuario = {
                IdUsuario: $("#txtId").val(),
                Activo: $("#cboactivo").val() == 1 ? true: false,
                Apellidos: $("#txtapellidos").val(),
                Correo: $("#txtcorreo").val(),
                Nombres: $("#txtnombres").val()

            }

            /*----------Aqui sabemos si es para editar un usuario o guardar un nuevo usuario---------------*/

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Home")',
                type: "POST",
                data: JSON.stringify({ objeto: Usuario }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");
                    //resive el return de GuardarUsuario

                   // debugger;
                    // USUARIO NUEVO
                    if (Usuario.IdUsuario == 0) {

                        if (data.resultado != 0) {
                            Usuario.IdUsuario = data.resultado;

                            tabladata.row.add(Usuario).draw(false);


                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensaje_error").text(data.mensaje);
                            $("#mensaje_error").show();
                        }



                        // EDITAR USUARIO
                    } else {

                        if (data.resultado) {




                            tabladata.row(filaSeleccionada).data(Usuario).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensaje_error").text(data.mensaje);
                            $("#mensaje_error").show();
                        }


                    }


                },
                error: function (error) {

                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensaje_error").text("error ajax");
                    $("#mensaje_error").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Por Favor Espere...",
                        size: 14
                    })
                },
            });






            /*-------------------------------------------------------------------------------------*/

        }





    </script>


}